* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #F2F3F4;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

form .input-group:not(:first-child) {
  margin-top: 20px;
}

form .input-group label {
  font: normal 13px/16px "Arial-Regular";
  color: #8A9093;
  margin-left: 35px;
  position: relative;
  cursor: pointer;
}

form .input-group label::before {
  content: "";
  border: 1px solid #8B8B8B;
  background: white;
  border-radius: 100%;
  width: 12px;
  height: 12px;
  display: inline-block;
  position: absolute;
  left: -35px;
  top: 0px;
}

form .input-group input[type=radio] {
  display: none;
}

form .input-group input[type=radio]:checked + label::after {
  content: "";
  border: none;
  background: #00539D;
  border-radius: 100%;
  width: 4px;
  height: 4px;
  display: inline-block;
  position: absolute;
  left: -30px;
  top: 5px;
}

#btn-more {
  width: 180px;
  height: 40px;
  background: white;
  border: 1px solid #DEE0E2;
  border-radius: 2px;
  -webkit-box-shadow: 0px 2px 0px #D8DBE2;
          box-shadow: 0px 2px 0px #D8DBE2;
  margin: 39px auto;
  cursor: pointer;
  font: 14px/21px "Roboto-Regular";
  color: #435C73;
}

#btn-more i {
  font: 14px/21px "FontAwesome";
  margin-left: 9px;
}

@media only screen and (max-width: 1160px) {
  .row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.container {
  max-width: 1160px;
  margin: 0 auto;
}

.flex, .flex-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.all {
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
}

.load:before {
  content: "";
  width: 20px;
  height: 20px;
  border-left: 1px solid red;
  border-top: 1px solid red;
  border-radius: 100%;
  display: block;
  margin: 40px auto;
  -webkit-animation: uzumaki;
          animation: uzumaki;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

@-webkit-keyframes uzumaki {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes uzumaki {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.mt-25 {
  margin-top: 25px;
}

.mt-28 {
  margin-top: 28px;
}

.mt-29, .box-stream:not(:first-child) {
  margin-top: 29px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-31 {
  margin-top: 31px;
}

.mt-23 {
  margin-top: 23px;
}

@font-face {
  font-family: "Roboto-Regular";
  src: url("../font/Roboto-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Roboto-Bold";
  src: url("../font/Roboto-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Roboto-Medium";
  src: url("../font/Roboto-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Arial-Regular";
  src: url("../font/arial.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-BoldCondensed";
  src: url("../font/Roboto-BoldCondensed.ttf");
}

@font-face {
  font-family: "TAM-LE";
  src: url("../font/UTM Tam Le.ttf");
}

@font-face {
  font-family: "FontAwesome";
  src: url("../font/Font Awesome 5 Free-Regular-400.otf");
}

[class|=img] {
  display: block;
  background: #EBEBEB;
}

.img-274x171 {
  width: 274px;
  height: 171px;
}

.img-544x340 {
  width: 544px;
  height: 340px;
}

.img-202x127 {
  width: 202px;
  height: 127px;
}

.img-220x139 {
  width: 220px;
  height: 139px;
}

.img-264x164 {
  width: 264px;
  height: 164px;
}

.img-190x117 {
  width: 190px;
  height: 117px;
}

.img-274x171 {
  width: 274px;
  height: 117px;
}

.img-400x250 {
  width: 400px;
  height: 250px;
}

.img-150x94 {
  width: 150px;
  height: 94px;
}

.img-300x188 {
  width: 300;
  height: 188px;
}

.img-299x198 {
  width: 299px;
  height: 198px;
}

.img-61x61 {
  width: 61px;
  height: 61px;
}

.img-36x36 {
  width: 36px;
  height: 36px;
}

[class|=box] {
  background: white;
}

.info small {
  font: 12px/18px "Arial-Regular";
  color: #8B9BA7;
}

.info small:not(:first-child)::before {
  content: "-";
  padding: 10px;
}

.box-tag {
  padding: 7px 25px 10px 17px;
  border-radius: 15.5px;
  border: 1px solid #ECECEC;
}

.box-tag::before {
  content: "#";
}

.box-tag a {
  color: #707070;
  font: 14px/17px "Arial-Regular";
}

.box-post-high {
  width: 544px;
}

.box-post-high .box-content {
  padding: 53px 21px 37px;
}

.box-post-high .box-content .box-title {
  font: 24px/30px "Roboto-Bold";
  color: #000000;
}

.box-post-high .box-content .info {
  margin-top: 21px;
}

.box-post-high .box-content hr {
  margin-top: 15px;
  border: none;
  border-top: 3px solid red;
}

.box-post-high .box-content .post-more-title {
  display: block;
  margin-top: 19px;
  font: 14px/21px "Roboto-Regular";
  color: #3C3C3C;
}

.box-read-lot {
  min-width: 257px;
  position: relative;
  min-height: 200px;
}

.box-read-lot ul {
  margin: 20px 8px 13px 21px;
  height: 100%;
  overflow: scroll;
}

.box-read-lot ul::-webkit-scrollbar {
  width: 4px;
}

.box-read-lot ul::-webkit-scrollbar-thumb {
  background: #cbcbcb;
  border-radius: 4px;
}

.box-read-lot ul li {
  margin-right: 8px;
}

.box-read-lot ul li:not(:last-child) {
  padding-bottom: 15px;
  border-bottom: 1px solid #EBEBEB;
}

.box-read-lot ul li:not(:first-child) {
  padding-top: 20px;
}

.box-read-lot ul li a {
  font: 14px/22px "Roboto-Regular";
  color: #1D1E20;
}

.box-top-5 {
  padding: 27px 26px 28px 26px;
}

.box-top-5 li {
  width: 202px;
}

.box-top-5 li .box-item-title {
  margin-top: 15px;
  display: block;
  font: 16px/22px "Roboto-Medium";
  color: #202020;
}

.box-stream .box-body {
  width: 300px;
  padding: 24px 18px 0px 18px;
}

.box-stream .box-body .box-title {
  font: 17px/23px "Roboto-Medium";
  color: #000000;
}

.box-video, .box-photo, .box-enterprise {
  width: 611px;
}

.box-video h4, .box-photo h4, .box-enterprise h4 {
  font: 17px/19px "Roboto-BoldCondensed";
  color: #445776;
  text-transform: uppercase;
}

.box-video {
  padding: 19px 27px 30px 27px;
}

.box-video h4 {
  margin-bottom: 19px;
}

.box-photo {
  padding: 21px 28px 25px 21px;
}

.box-photo h4 {
  margin-bottom: 19px;
}

.box-enterprise {
  padding: 30px 21px 29px 28px;
}

.box-enterprise h4 {
  width: 264px;
  margin-bottom: 26px;
}

.box-enter-read-lot .box-body {
  padding-left: 21px;
  border-left: 1px solid #EBEBEB;
}

.box-post-cate {
  width: 190px;
}

.box-post-cate .box-content {
  padding: 18px 17px 14px 17px;
}

.box-post-cate .box-content a {
  font: 15px/21px "Roboto-Medium";
  color: #000000;
}

.wrap-video .wrap-title, .wrap-photo .wrap-title {
  font: 16px/22px "Roboto-Medium";
  color: #343434;
}

.wrap-video, .wrap-photo {
  width: 264px;
}

.wrap-video .wrap-title {
  margin-top: 16px;
}

.wrap-photo .wrap-title {
  margin-top: 14px;
}

.wrap-photo .wrap-photo-thumb img {
  position: relative;
}

.wrap-photo .wrap-photo-thumb img::after {
  content: "";
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 5px;
  left: 0px;
  background-color: #FFF0AC;
}

.wrap-vitreem:not(:first-child) {
  margin-top: 21px;
}

.wrap-vitreem a {
  display: block;
  width: 239px;
  margin: -23px auto 0px 0px;
  background-color: white;
  font: 16px/21px "Roboto-Medium";
  color: #000000;
  padding: 16px 12px 3px 0px;
}

.wrap-enter-read-lot {
  width: 250px;
}

.wrap-enter-read-lot:not(:last-child) {
  padding-bottom: 19px;
  border-bottom: 1px solid rgba(235, 235, 235, 0.5);
}

.wrap-enter-read-lot:not(:first-child) {
  margin-top: 21px;
}

.wrap-enter-read-lot a {
  font: 14px/21px "Roboro-Regular";
  color: #000000;
}

.wrap-poll {
  width: 289px;
  padding: 25px 0px 23px 23px;
}

.wrap-poll h4 {
  font: 13px/18px "Arial-Regular";
  color: #242B31;
  opacity: 35%;
}

.wrap-poll p {
  font: 15px/20px "Roboto-Medium";
  color: #000000;
  margin: 22px 44px 0px 0px;
}

.wrap-poll [class|=btn] {
  font: 14px/21px "Roboto-Medium";
  padding: 6px 21px 5px 21px;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}

.wrap-poll .btn-primary {
  color: white;
  background: #1A7DD5;
  border: 1px solid #DADBDE;
}

.wrap-poll .btn-default {
  color: #000000;
  background: none;
}

.wrap-banner {
  width: 321px;
}

.wrap-banner img {
  margin: 24px auto 0px;
}

.wrap-banner .wrap-body {
  background: white;
  width: 254px;
  margin: -20px auto 0px;
}

.wrap-banner .wrap-body h6 {
  font: 10px/24px "Roboto-Bold";
  color: #E83333;
}

.wrap-banner .wrap-body a {
  font: 19px/29px "Roboto-Medium";
  color: #28333B;
  display: block;
}

[class|=card] {
  background: #EBEBEB;
}

.card-2 {
  width: 300px;
}
/*# sourceMappingURL=style.css.map */