@import "../scss/menu.scss";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

// Layout

.container{
    max-width: 1160px;
}
.flex{
    display: flex;
}
.flex-col{
    @extend .flex;
    flex-direction: column;
}


// ================ ICON =====================
$icon: "";
[class|=icon]{

}