
// ========== ROOT ==============
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background: #F2F3F4;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
form{
    .input-group{
        &:not(:first-child){
            margin-top: 20px;
        }
        label{
            font: normal 13px/16px "Arial-Regular";
            color: #8A9093;
            margin-left: 35px;
            position: relative;
            cursor: pointer;

            &::before{

                content: "";
                border: 1px solid #8B8B8B;
                background: white;
                border-radius: 100%;
                width: 12px;
                height: 12px;
                display: inline-block;
                position: absolute;
                left: -35px;
                top: 0px;
            }
        }
        input[type=radio]{
            display: none;
        }
        input[type=radio]:checked + label{
            &::after{
                content: "";
                border: none;
                background: #00539D;
                border-radius: 100%;
                width: 4px;
                height: 4px;
                display: inline-block;
                position: absolute;
                left: -30px;
                top: 5px;

            }
        }
    }   
}
#btn-more{
    width: 180px;
    height: 40px;
    background: white;
    border: 1px solid #DEE0E2;
    border-radius: 2px;
    box-shadow: 0px 2px 0px #D8DBE2;
    margin: 39px auto;
    cursor: pointer;
    font: 14px/21px "Roboto-Regular";
    color: #435C73;
    i{
    font: 14px/21px "FontAwesome";
        margin-left: 9px;
    }
}
// ========== SCREEN =============
@media only screen and (max-width: 1160px){
    .row{
        flex-wrap: wrap;
    }
}
// ========== LAYOUT =============
.container{
    max-width: 1160px;
    margin: 0 auto;
}
.flex{
    display: flex;
    flex-wrap: wrap;
}
.flex-col{
    @extend .flex;
    flex-direction: column;
}
.between{
    justify-content: space-between;
}
.around{
    justify-content: space-around;
}
.all{
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
}
.load{
    &:before{
        content: "";
        width: 20px;
        height: 20px;
        border-left: 1px solid red;
        border-top: 1px solid red;
        border-radius: 100%;
        display: block;
        margin: 40px auto;
        animation: uzumaki;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        animation-duration: 1s;
    }
}
@keyframes uzumaki{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
// =========== MARGIN =============

.mt-25{
    margin-top: 25px;
}
.mt-28{
    margin-top: 28px;
}
.mt-29{
    margin-top: 29px;
}
.mt-30{
    margin-top: 30px;
}
.mt-31{
    margin-top: 31px;
}
.mt-23{
    margin-top: 23px;
}
// =========== FONT ===============
// ======= FONT-FACE ============
@font-face{
    font-family: "Roboto-Regular";
    src: url("../font/Roboto-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face{
    font-family: "Roboto-Bold";
    src: url("../font/Roboto-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face{
    font-family: "Roboto-Medium";
    src: url("../font/Roboto-Medium.ttf") format("truetype")
}
@font-face{
    font-family: "Arial-Regular";
    src: url("../font/arial.ttf") format("truetype");
}
@font-face{
    font-family: "Roboto-BoldCondensed";
    src: url("../font/Roboto-BoldCondensed.ttf");
}
@font-face{
    font-family: "TAM-LE";
    src: url("../font/UTM\ Tam\ Le.ttf");
}
@font-face{
    font-family: "FontAwesome";
    src: url("../font/Font\ Awesome\ 5\ Free-Regular-400.otf");
}
// =========== ICON ===============


// =========== Config Image =======

[class|=img]{
    display: block;
    background: #EBEBEB;
 }
 .img-274x171{
     width: 274px;
     height: 171px;
 }
 .img-544x340{
     width: 544px;
     height: 340px;
 }
 .img-202x127{
     width: 202px;
     height: 127px;
 }
 .img-220x139{
     width: 220px;
     height: 139px;
 }
 .img-264x164{
     width: 264px;
     height: 164px;
 }
 .img-190x117{
     width: 190px;
     height: 117px;
 }
 .img-274x171{
     width: 274px;
     height: 117px;
 }
 .img-400x250{
     width: 400px;
     height: 250px;
 }
 .img-150x94{
     width: 150px;
     height: 94px;
 }
 .img-300x188{
     width: 300;
     height: 188px;
 }
 .img-299x198{
     width: 299px;
     height: 198px;
 }
 .img-61x61{
     width: 61px;
     height: 61px;
 }
 .img-36x36{
     width: 36px;
     height: 36px;
 }
// =========== Box ================

[class|=box]{
    background: white;
}
// @@@@ INFO @@@@
.info{
    small{
        font: 12px/18px "Arial-Regular";
        color: #8B9BA7;
        &:not(:first-child){
            &::before{
                content: "-";
                padding: 10px;
            }
        }
    }
}

// @@@@ BOX TAG @@@@@

.box-tag{
    padding: 7px 25px 10px 17px;
    border-radius: 15.5px;
    border: 1px solid #ECECEC;
    &::before{
        content: "#";
    }
    a{
        color: #707070;
        font: 14px/17px "Arial-Regular";
    }
}

//  @@@@ BOX POST HIGH @@@@

.box-post-high{
    width: 544px;
    .box-content{
        padding: 53px 21px 37px;
        .box-title{
            font: 24px/30px "Roboto-Bold";
            color: #000000;
        }
        .info{
            margin-top: 21px;
        }
        hr{
            margin-top: 15px;
            border: none;
            border-top: 3px solid red;
        }
        .post-more-title{
            display: block;
            margin-top: 19px;
            font: 14px/21px "Roboto-Regular";
            color: #3C3C3C;
        }
    }
}
// @@@@ BOX WELL READ @@@@

.box-read-lot{
    min-width: 257px;
    position: relative;
    min-height: 200px;
    ul{
        margin: 20px 8px 13px 21px;
        height: 100%;
        overflow: scroll;
        &::-webkit-scrollbar{
            width: 4px;
        }
        &::-webkit-scrollbar-thumb {
            background: #cbcbcb;
            border-radius: 4px;
        }
        li{
            &:not(:last-child){
                padding-bottom: 15px;
                border-bottom: 1px solid #EBEBEB;
            }  
            &:not(:first-child){
                padding-top: 20px;
            }  
            margin-right: 8px;        
            a{
                font: 14px/22px "Roboto-Regular";
                color: #1D1E20;
            }
        }
    }    
}
// @@@ BOX TOP 5 @@@@
.box-top-5{
    padding: 27px 26px 28px 26px;
    li{
        width: 202px;
        .box-item-title{
            margin-top: 15px;
            display: block;
            font: 16px/22px "Roboto-Medium";
            color: #202020;
        }
    }
}

// @@@ BOX STREAM @@@
.box-stream{
    &:not(:first-child){
        @extend .mt-29;
    }
    .box-body{
        width: 300px;
        padding: 24px 18px 0px 18px;
        .box-title{
            font: 17px/23px "Roboto-Medium";
            color: #000000;
        }
    }
}

// @@@ BOX MAIN RIGHT

.box-video , .box-photo , .box-enterprise{
    width: 611px;
    h4{
        font: 17px/19px "Roboto-BoldCondensed";
        color: #445776;
        text-transform: uppercase;
    }
}
// @@@ BOX VIDEO
.box-video{
    padding: 19px 27px 30px 27px;
    h4{
        margin-bottom: 19px;
    }
}

// @@@ BOX PHTO
.box-photo{
    padding: 21px 28px 25px 21px;
    h4{
        margin-bottom: 19px;
    }
}
// @@@
.box-enterprise{
    padding: 30px 21px 29px 28px;
    h4{
        width: 264px;
        margin-bottom: 26px;
    }
}
// @@@
.box-enter-read-lot{
    .box-body{
        padding-left: 21px;
        border-left: 1px solid #EBEBEB;
    }
}
// @@@
.box-post-cate{
    width: 190px;
    .box-content{
        padding: 18px 17px 14px 17px;
        a{
            font: 15px/21px "Roboto-Medium";
            color: #000000;
        }
    }
}

// !!!!  WRAPPER 

.wrap-video .wrap-title , .wrap-photo .wrap-title{
    font: 16px/22px "Roboto-Medium";
    color: #343434;
}
.wrap-video , .wrap-photo{
    width: 264px;
}
.wrap-video{
    .wrap-title{
        margin-top: 16px;
    }
}
.wrap-photo{
    .wrap-title{
        margin-top: 14px;
    }
    .wrap-photo-thumb{
        img{
            position: relative;
            &::after{
                content: "";
                position: absolute;
                bottom: 0px;
                width: 100%;
                height: 5px;
                left: 0px;
                background-color: #FFF0AC;
            }
        }
    }
}
.wrap-vitreem{
    &:not(:first-child){
        margin-top: 21px;
    }
    a{
        display: block;
        width: 239px;
        margin: -23px auto 0px 0px;
        background-color: white;
        font: 16px/21px "Roboto-Medium";
        color: #000000;
        padding: 16px 12px 3px 0px;
    }
}
.wrap-enter-read-lot{
    width: 250px;
    &:not(:last-child){
        padding-bottom: 19px;
        border-bottom: 1px solid rgba($color: #EBEBEB, $alpha: .5)
    }
    &:not(:first-child){
        margin-top: 21px;
    }
    a{
        font: 14px/21px "Roboro-Regular";
        color: #000000;
    }
}
.wrap-poll{
    width: 289px;
    padding: 25px 0px 23px 23px;
    h4{
        font: 13px/18px "Arial-Regular";
        color: #242B31;
        opacity: 35%;
    }
    p{
        font: 15px/20px "Roboto-Medium";
        color: #000000;
        margin: 22px 44px 0px 0px;
    }
    [class|=btn]{
        font: 14px/21px "Roboto-Medium";
        padding: 6px 21px 5px 21px;
        border-radius: 3px;
        border: none;
        cursor: pointer;
    }
    .btn-primary{
        color: white;
        background: #1A7DD5;
        border: 1px solid #DADBDE;
    }
    .btn-default{
        color: #000000;
        background: none;
    }
}
.wrap-banner{
    width: 321px;
    img{
        margin: 24px auto 0px;
    }
    .wrap-body{
        background: white;
        width: 254px;
        margin: -20px auto 0px;
        h6{
            font: 10px/24px "Roboto-Bold";
            color: #E83333;
        }
        a{
            font: 19px/29px "Roboto-Medium";
            color: #28333B;
            display: block;
        }
    }
}
// CARD 
[class|=card]{
    background: #EBEBEB;
}
.card-2{
    width: 300px;
}