.list-news{
    .box-stream{
        width: 522px;    
        margin-bottom: 29px;   
        .stream-content{
            padding: 19px 20px 19px 18px;
           a{
            font: 17px/23px "Roboto-Medium";
            color: #000000;
           }
           .info{
               margin-top: 12px;
           }
        } 
    }
}