@font-face{
    font-family: "Roboto-Regular";
    src: url("/assets/font/Roboto-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face{
    font-family: "Roboto-Bold";
    src: url("/assets/font/Roboto-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face{
    font-family: "Roboto-Medium";
    src: url("/assets/font/Roboto-Medium.ttf") format("truetype")
}
@font-face{
    font-family: "Arial-Regular";
    src: url("/assets/font/arial.ttf") format("truetype");
}
@font-face{
    font-family: "Roboto-BoldCondensed";
    src: url("/assets/font/Roboto-BoldCondensed.ttf") format("truetype");
}
@font-face{
    font-family: "TAM-LE";
    src: url("/assets/font/UTM\ Tam\ Le.ttf") format("truetype");
}
@font-face{
    font-family: "FontAwesome";
    src: url("/assets/font/Font\ Awesome\ 5\ Free-Regular-400.otf");
}