[class|=img]{
    display: block;
    &:empty{
         background: #EBEBEB;
    }
 }
 .img-274x171{
     width: 274px;
     height: 171px;
 }
 .img-544x340{
     width: 544px;
     height: 340px;
 }
 .img-202x127{
     width: 202px;
     height: 127px;
 }
 .img-220x139{
     width: 220px;
     height: 139px;
 }
 .img-264x164{
     width: 264px;
     height: 164px;
 }
 .img-190x117{
     width: 190px;
     height: 117px;
 }
 .img-274x171{
     width: 274px;
     height: 117px;
 }
 .img-400x250{
     width: 400px;
     height: 250px;
 }
 .img-150x94{
     width: 150px;
     height: 94px;
 }
 .img-300x188{
     width: 300;
     height: 188px;
 }
 .img-299x198{
     width: 299px;
     height: 198px;
 }
 .img-61x61{
     width: 61px;
     height: 61px;
 }
 .img-36x36{
     width: 36px;
     height: 36px;
 }